<%-include('./partials/header') %>
    <%-include('./partials/navbar') %>
        <%-include('./partials/flash') %>
            <div class="w-100 content">
                <div class="overlay">
                    <h1>Welcome to Be Learn Library</h1>
                    <p class="mt-3" style="color: black;"><b>Explore the world of knowledge with us<br>Discover new books, learn new things,
                            and grow with our community <br><button class="btn btn-primary mt-3"><h5>Join Today</h5></button></b></p>
                    <p><b></b></p>
                </div>
            </div>

            <%-include('./partials/footer') %>